/node_modules
/public/hot
/public/plugins/tinymce
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.env.testing
laravel5.6.zip
laravel56-dev.zip